# Herramientas locales regenerables
.tools/
.wix/
.tools/wix6-extension/

# .NET
bin/
obj/
TestResults/
*.user
*.suo
*.rsuser

# Publicaciones y paquetes locales
artifacts/
installer/Pos.Setup/Payload.zip
publish/
*.nupkg

# Datos locales de desarrollo
.local/
.postgres/
*.db
*.db-shm
*.db-wal

# Secretos y configuracion local
.env
*.secret.json
appsettings.*.Local.json

# Logs
logs/
*.log

# Windows
Thumbs.db
Desktop.ini
