<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="JetVenta" Manufacturer="JetVenta" Version="$(var.ProductVersion)" UpgradeCode="E2F2F47F-2F4C-4D24-9A0D-7D8F8B8A6C10" IconSourceFile="$(var.IconPath)"><BootstrapperApplication><bal:WixStandardBootstrapperApplication LicenseUrl="license.rtf" LogoFile="$(var.LogoPath)" Theme="hyperlinkLicense" /></BootstrapperApplication><Chain><ExePackage DisplayName="Bibliotecas de ejecucion de Microsoft Visual C++" SourceFile="$(var.VcRedistPath)" InstallArguments="/install /quiet /norestart" Permanent="yes" Vital="yes" /><MsiPackage DisplayName="Archivos de JetVenta" SourceFile="$(var.MsiPath)" bal:DisplayInternalUICondition="WixBundleAction = 6" /><ExePackage DisplayName="Configuracion de PostgreSQL y servicios de JetVenta" SourceFile="$(var.BootstrapPath)" DetectCondition="WixBundleInstalled" UninstallArguments="--uninstall" Permanent="no" Vital="yes" /></Chain></Bundle>
</Wix>
